PORT=8080
DATABASE_URL="mysql://user_name:user_password@123.123.123.123:3306/db_name"

# === Keycloak ===
KC_HOST=kc
KC_HTTP_PORT=8080
KC_REALM=SSO
API_JSON_WEB_KEY_SET_URL=http://${KC_HOST}:${KC_HTTP_PORT}/realms/${KC_REALM}/protocol/openid-connect/certs
